.active, .active:hover {
    background-color: #6c757d;
    color: white;
    cursor: default;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #0f172a;
    position: sticky;
    top: 0;
}

nav .title{
    font-size: 1.5rem;
    font-weight: bold;
    margin: 1rem;
    text-decoration: none;
    color: white;
}
nav ul {
    display: flex;
}

nav ul li {
    list-style: none;
}

nav ul li a, button {
    display: block;
    text-decoration: none;
    padding: 0.5rem;
    border-radius: 0.5rem;
    margin: 1rem 0.5rem 0rem;
    color: white;
}

nav ul li a:not(.active):hover, nav button:hover {
    background-color: #172554;
    color: white;
}

nav button {
    background: transparent;
    border: none;
}